<tr>
    <td style="padding:15px 0;border-top:1px dotted #c5c5c5" width="100%">
        <table style="table-layout:fixed" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td style="padding:0 15px 0 15px;width:40px" valign="top">
                        <img alt="" style="height:auto;line-height:100%;outline:none;text-decoration:none;border-radius:5px" src="https://support.mloyalretail.com/Template/Images/profile_icon.png" width="40" height="40">
                    </td>
                    <td style="padding:0;margin:0" width="100%" valign="top">
                        <p style="font-family: 'Open Sans', sans-serif;font-size:15px;line-height:18px;margin-bottom:0;margin-top:0;padding:0;color:#1b1d1e" dir="ltr">
                            <b>[user_name]</b> ([user_id])
                        </p>
                        <p style="font-family: 'Open Sans', sans-serif;font-size:13px;line-height:25px;margin-bottom:15px;margin-top:0;padding:0;color:#bbbbbb" dir="ltr">
                            [created]
                        </p>
                        <div dir="auto" style="color:#2b2e2f;font-family: 'Open Sans', sans-serif;font-size:14px;line-height:22px;margin:15px 0">
                            [comment]
                        </div>
                        <p dir="ltr">
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>	