<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="strConn" value="server=180.179.198.151,21443;database=Mqtt;uid=datadesk_login;pwd=M0b1DataDeskDBcm@82o;connection timeout=0" />
		<add key="attachment_filepath" value="D:\RajuDas\Projects\mloyal_ticket_system\Uploads\TicketFiles\" />
		<add key="skipemails" value="paytmmloyalsupport@mobiquest.com,paytmmloyalhelpdesk@mobiquest.com"/>
		<add key="rejectedmails" value="all_mobies@mobiquest.com"/>
		<add key="live" value="1"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>